extends ../layout

block adminNav
    include ../adminNav

block content
    h1= title
    p Welcome to #{title}

    div.form-group
        form#submitOptions(action='/admin/options' method='post')
            div
                input.checkbox-input(type='checkbox' name='requestsTable' id='requestsTable' value='requestsTable' checked=requestsTable)
                label(for='requestsTable')='Request Table'
            div
                input.checkbox-input(type='checkbox' name='tutorTable' id='tutorTable' value='tutorTable' checked=tutorTable)
                label(for='tutorTable')='Tutor Table'
            div
                input.checkboc-input(type='checkbox' name='scrollingText' id='scrollingText' value='scrollingText' checked=scrollingText.enabled)
                label(for='scrollingText')='Scrolling Marquee'
            div
                b Scrolling Text:
                input(type='text' name='message' size=100 value=scrollingText.text)
            div
                button.btn.btn-default(type='submit') Apply Options
    if(done)
        div
            p Changes made!
