extends ../layout

block adminNav
    include ../adminNav

block content

    script.
        $(function () {
            enableCBGroup();
            $("#scrollingText").click(enableCBGroup);
        });

        function enableCBGroup() {
            if ($("#scrollingText").is(":checked")) {
                $("input.textScrollMessage").attr("disabled", false);
                $("input.textScrollMessage").attr("value", scrollingText.text);
            } else {
                $("input.textScrollMessage").attr("disabled", true);
                $("input.textScrollMessage").attr("value", scrollingText.disabledMsg);
            }
        }

    h1= title
    .container-fluid
        .row
            .col.col-md-1
            .col.col-md-5
                fieldset.optionPaneFieldset
                    .optionPane
                        form#submitOptions(action='/admin/options' method='post')
                            .row
                                .col.col-md-12
                                    h3 Tutor Center Customization
                            .row
                                .col.col-md-12
                                    fieldset.form-group.centerOptionsCheckboxes
                                        div
                                            b Display Features
                                                .form-check
                                                    label.form-check-label
                                                        input.checkbox-input(type='checkbox' name='requestsTable' id='requestsTable' value='requestsTable' checked=requestsTable)
                                                        |  Enable request table
                                                .form-check
                                                    label.form-check-label
                                                        input.checkbox-input(type='checkbox' name='tutorTable' id='tutorTable' value='tutorTable' checked=tutorTable)
                                                        |  Enable tutor table
                            .row
                                .col.col-md-12
                                    fieldset.form-group.optionScrollingText
                                        .form-check
                                            label.form-check-label
                                                input.checkbox-input(type='checkbox' name='scrollingText' id='scrollingText' value='scrollingText' checked=scrollingText.enabled)
                                                |  Enable scrolling marquee
                                        label(for'scrollMsg') Scrolling text to display:
                                        |
                                        input#scrollMsg.textScrollMessage.form-control(type='text' name='message' value=scrollingText.text disabled='false')
                            .row
                                .col.col-md-12
                                    fieldset.form-group
                                        button.btn.btn-primary(type='submit') Apply Options
                                        if (done)
                                            div
                                                p Changes Made!
            .col.col-md-5
                fieldset.optionPaneFieldset
                    .optionPane
                        .row
                            .col-md-12
                                h3 Other Customizations
            .col.col-md-1